* {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Cabin', sans-serif;
  background-color: #ff9bc2;
}

.text-muted {
  text-align: center;
  color: #000000;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron h2 {
  padding-bottom: 2em;
}

.header {
  padding-bottom: 20px;
}

.btn-primary {
  padding-top: 2em;
  color: #000000;
  background-color: #ffea8b;
  box-shadow: 0 4px 8px 0 #979797;
  border-radius: 8px;
}

.btn-primary:hover {
  color: #000000;
  background-color: #ffd728;
  box-shadow: 0 6px 16px 0 #979797;
  transition: ease-in .1s;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

i {
  color: #000000;
  padding-right: 15px;
  padding-top: .5em;
}

i:hover {
  color: #5d5e60;
  transition: ease-in .1s;
}

.footer {
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

#text {
  font-size: 16px;
  color: #000000;
}

#text-span:hover {
  color: #ffd728;
  transition: ease-in .2s;
}

.signature {
  margin-top: 13em;
  text-align: center;
  color: #000000;
}

#my-name a {
  color: #ffffff;
  text-decoration: none;
}

#my-name a:hover {
  color: #ffd000;
  transition: 0.2s ease-out;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  background-color: #ffffff63;
  text-align: center;
  box-shadow: 0 4px 8px 0 #0000009a;

}

.jumbotron .btn {
  margin-top: .9em;
  padding: 14px 24px;
  font-size: 21px;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
}
